<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

<script>
  var pos_neg_count={{pos_neg_count}};
  var positive_count=pos_neg_count[0];
  var negative_count=pos_neg_count[1];
  var aspect_counts={{aspect_counts}};
  //var wordcloud_food={{wordcloud_food[0]}};
</script>
</head>
<body>
<center>
<h2 style="color: red">Opinion Mining For Restaurant Reviews using Naïve Bayes-Algorithm</h2>
</center>
<style>

.content
{
	size: "50";
}
.button2
{
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;

}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.button1
{
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;

}
#myVideo {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

}

input[type=text] {
  width: 50%;
  padding: 12px 40px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid red;
  border-radius: 4px;
}
</style>
<!-- <center>
  <img src="{{url_for('static', filename='pie_chart.png') }}" alt="User Image">
</center>
 -->
 <br>
<!--  {{wordcloud_food[0]}} -->
 <p id="positive_count"></p>
 <p id="negative_count"></p>
 <p id="pos_neg_count"></p>
 <p id="mention_count"></p>
 <br>
<div>
<script>
    // var positive_count='{{positive_count}}';
    /*document.getElementById("positive_count").innerHTML=positive_count;
    document.getElementById("negative_count").innerHTML=negative_count;
    document.getElementById("pos_neg_count").innerHTML=pos_neg_count;*/
    //document.getElementById("mention_count").innerHTML=wordcloud_food[0];
    //console.log(mention_count);
</script>
<br>
</div>
<div>
  <canvas id="myChart" width="500" height="500"></canvas>
</div>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Positive','Negative'],
        datasets: [{
            // label: 'Polarity of Reviews',
            data: [positive_count,negative_count],
            backgroundColor: [
                'rgb(54, 162, 235)',
                'rgb(255, 99, 132)',
            ],
            hoverOffset: 10,
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1,
        }]
    },
    options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Polarity of Reviews',
                        position: 'bottom',
                        padding: {
                            top: 20,
                            bottom: 20,
                        }
                    }
                }
            }
});
</script>
<br>
<br>
<hr width="90%" style="border-width:3px;">
<br>
<br>
<div>
  <center>
  <canvas id="mygraph" width="800" height="500"></canvas> 
  </center>
</div>
<script>
var grph = document.getElementById('mygraph');
var mygraph = new Chart(grph, {
    type: 'bar',
    data: {
        labels: ["Food","Service","Ambience","Pricing","Hygiene","Miscelleanous"],
        datasets: [{
            label: "Frequency Count",
            data: aspect_counts,
            backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(255, 159, 64)',
                'rgba(255, 205, 86)',
                'rgba(75, 192, 192)',
                'rgba(54, 162, 235)',
                'rgba(153, 102, 255)',
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
            ],
            borderWidth: 5,
            // hoverBorderWidth: 10,
        }]
    },
    options: {
                responsive: false,
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Count of Aspects Mentioned',
                        position: 'bottom',
                        padding: {
                            top: 20,
                            bottom: 20,
                        }
                    }
                }
              }
});
</script>
<br>
<br>
<hr width="90%" style="border-width:3px;">
<br>
<br>
<center>
<div id="wordcloud_food"></div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
 
    var myConfig = {
      type: 'wordcloud',
      options: {
        text: '{{wordcloud_food[0]}}',
        aspect: 'flow-center',
 
        colorType: 'palette',
        palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],
 
        style: {
          fontFamily: 'Crete Round',
 
          hoverState: {
            backgroundColor: '#D32F2F',
            borderRadius: 2,
            fontColor: 'white'
          },
          tooltip: {
            text: '%text: %hits',
            visible: true,
            alpha: 0.9,
            backgroundColor: '#1976D2',
            borderRadius: 2,
            borderColor: 'none',
            fontColor: 'white',
            fontFamily: 'Georgia',
            textAlpha: 1
          }
        }
      },
 
      source: {
        text: 'Food Wordcloud',
        //Source: https://obamawhitehouse.archives.gov/the-press-office/2015/03/07/remarks-president-50th-anniversary-selma-montgomery-marches
        fontColor: 'BLACK',
        fontSize: 50,
        fontFamily: 'Georgia',
        fontWeight: 'normal',
        marginBottom: '10%'
      }
    };
 
    zingchart.render({
      id: 'wordcloud_food',
      data: myConfig,
      height: 400,
      width: '70%'
    });
  </script>
<br>
<br>
<hr width="90%" style="border-width:3px;">
<br>
<br>
<div id="wordcloud_ambiance"></div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
 
    var myConfig = {
      type: 'wordcloud',
      options: {
        text: '{{wordcloud_ambiance[0]}}',
        aspect: 'flow-center',
 
        colorType: 'palette',
        palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],
 
        style: {
          fontFamily: 'Crete Round',
 
          hoverState: {
            backgroundColor: '#D32F2F',
            borderRadius: 2,
            fontColor: 'white'
          },
          tooltip: {
            text: '%text: %hits',
            visible: true,
            alpha: 0.9,
            backgroundColor: '#1976D2',
            borderRadius: 2,
            borderColor: 'none',
            fontColor: 'white',
            fontFamily: 'Georgia',
            textAlpha: 1
          }
        }
      },
 
      source: {
        text: 'Ambience Wordcloud',
        //Source: https://obamawhitehouse.archives.gov/the-press-office/2015/03/07/remarks-president-50th-anniversary-selma-montgomery-marches
        fontColor: 'BLACK',
        fontSize: 50,
        fontFamily: 'Georgia',
        fontWeight: 'normal',
        marginBottom: '10%'
      }
    };
 
    zingchart.render({
      id: 'wordcloud_ambiance',
      data: myConfig,
      height: 400,
      width: '70%'
    });
  </script>
<br>
<br>
<hr width="90%" style="border-width:3px;">
<br>
<br>
<div id="wordcloud_service"></div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
 
    var myConfig = {
      type: 'wordcloud',
      options: {
        text: '{{wordcloud_service[0]}}',
        aspect: 'flow-center',
 
        colorType: 'palette',
        palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],
 
        style: {
          fontFamily: 'Crete Round',
 
          hoverState: {
            backgroundColor: '#D32F2F',
            borderRadius: 2,
            fontColor: 'white'
          },
          tooltip: {
            text: '%text: %hits',
            visible: true,
            alpha: 0.9,
            backgroundColor: '#1976D2',
            borderRadius: 2,
            borderColor: 'none',
            fontColor: 'white',
            fontFamily: 'Georgia',
            textAlpha: 1
          }
        }
      },
 
      source: {
        text: 'Service Wordcloud',
        //Source: https://obamawhitehouse.archives.gov/the-press-office/2015/03/07/remarks-president-50th-anniversary-selma-montgomery-marches
        fontColor: 'BLACK',
        fontSize: 50,
        fontFamily: 'Georgia',
        fontWeight: 'normal',
        marginBottom: '10%'
      }
    };
 
    zingchart.render({
      id: 'wordcloud_service',
      data: myConfig,
      height: 400,
      width: '70%'
    });
  </script>
<br>
<br>
<hr width="90%" style="border-width:3px;">
<br>
<br>
<div id="wordcloud_pricing"></div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
 
    var myConfig = {
      type: 'wordcloud',
      options: {
        text: '{{wordcloud_pricing[0]}}',
        aspect: 'flow-center',
 
        colorType: 'palette',
        palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],
 
        style: {
          fontFamily: 'Crete Round',
 
          hoverState: {
            backgroundColor: '#D32F2F',
            borderRadius: 2,
            fontColor: 'white'
          },
          tooltip: {
            text: '%text: %hits',
            visible: true,
            alpha: 0.9,
            backgroundColor: '#1976D2',
            borderRadius: 2,
            borderColor: 'none',
            fontColor: 'white',
            fontFamily: 'Georgia',
            textAlpha: 1
          }
        }
      },
 
      source: {
        text: 'Pricing Wordcloud',
        //Source: https://obamawhitehouse.archives.gov/the-press-office/2015/03/07/remarks-president-50th-anniversary-selma-montgomery-marches
        fontColor: 'BLACK',
        fontSize: 50,
        fontFamily: 'Georgia',
        fontWeight: 'normal',
        marginBottom: '10%'
      }
    };
 
    zingchart.render({
      id: 'wordcloud_pricing',
      data: myConfig,
      height: 400,
      width: '70%'
    });
  </script>
<br>
<br>
<hr width="90%" style="border-width:3px;">
<br>
<br>
<div id="wordcloud_hygiene"></div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
 
    var myConfig = {
      type: 'wordcloud',
      options: {
        text: '{{wordcloud_hygiene[0]}}',
        aspect: 'flow-center',
 
        colorType: 'palette',
        palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],
 
        style: {
          fontFamily: 'Crete Round',
 
          hoverState: {
            backgroundColor: '#D32F2F',
            borderRadius: 2,
            fontColor: 'white'
          },
          tooltip: {
            text: '%text: %hits',
            visible: true,
            alpha: 0.9,
            backgroundColor: '#1976D2',
            borderRadius: 2,
            borderColor: 'none',
            fontColor: 'white',
            fontFamily: 'Georgia',
            textAlpha: 1
          }
        }
      },
 
      source: {
        text: 'Hygiene Wordcloud',
        //Source: https://obamawhitehouse.archives.gov/the-press-office/2015/03/07/remarks-president-50th-anniversary-selma-montgomery-marches
        fontColor: 'BLACK',
        fontSize: 50,
        fontFamily: 'Georgia',
        fontWeight: 'normal',
        marginBottom: '10%'
      }
    };
 
    zingchart.render({
      id: 'wordcloud_hygiene',
      data: myConfig,
      height: 400,
      width: '70%'
    });
  </script>
<br>
<br>
<hr width="90%" style="border-width:3px;">
<br>
<br>
<div id="wordcloud_miscelleanous"></div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
 
    var myConfig = {
      type: 'wordcloud',
      options: {
        text: '{{wordcloud_miscelleanous[0]}}',
        aspect: 'flow-center',
 
        colorType: 'palette',
        palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],
 
        style: {
          fontFamily: 'Crete Round',
 
          hoverState: {
            backgroundColor: '#D32F2F',
            borderRadius: 2,
            fontColor: 'white'
          },
          tooltip: {
            text: '%text: %hits',
            visible: true,
            alpha: 0.9,
            backgroundColor: '#1976D2',
            borderRadius: 2,
            borderColor: 'none',
            fontColor: 'white',
            fontFamily: 'Georgia',
            textAlpha: 1
          }
        }
      },
 
      source: {
        text: 'Miscelleanous Wordcloud',
        //Source: https://obamawhitehouse.archives.gov/the-press-office/2015/03/07/remarks-president-50th-anniversary-selma-montgomery-marches
        fontColor: 'BLACK',
        fontSize: 50,
        fontFamily: 'Georgia',
        fontWeight: 'normal',
        marginBottom: '10%'
      }
    };
 
    zingchart.render({
      id: 'wordcloud_miscelleanous',
      data: myConfig,
      height: 400,
      width: '70%'
    });
  </script>
</div>
<div style="padding:20px">
<form action="{{url_for('home')}}">
 <button class="button2" value="submit">Home</button>
</form>
</div>
</center>
<!-- <video autoplay muted loop id="myVideo" class="fullscreen-bg__video">
<source src="{{url_for('static', filename='rest-video.mp4') }}" type="video/mp4">
  Your browser does not support this
</video>
<style>
.content3 {
	background-color: #4CAF50;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
</style>
<div class="content3">
  <h1>Welcome to our review rating system!!</h1>
  <p>Here you will get to know about us and good are we.</p>
  <button class="button2" id="myBtn" onclick="myFunction()">Pause</button>
</div>

<script>
var video = document.getElementById("myVideo");
var btn = document.getElementById("myBtn");

function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
</script> -->
</body>
</html>